.skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8rem auto;
    /* background-color: blue; */
}

.skillTitle{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    
    color: #cfdbd5;
    
}
.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 1rem 2rem;
    text-align: left;
    color: #e8eddf;
    
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillBar{
    display: flex;
    
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #242423;
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.skillBarText>p{
    font-size: 0.9rem;
    font-weight: 300;
    color: #e8eddf;
}
.skillBarText>h2{
    color:#cfdbd5;
}

@media screen and (max-width: 840px) {
    .skills {
        margin: -5rem auto;
    }

    .skillTitle {
        font-size: 2rem;
    }

    .skillDesc {
        font-size: 0.7rem;
        padding: 0.8rem 1.5rem;
    }

    .skillBars {
        max-width: 95%;
        margin: 1rem;
    }

    .skillBar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .skillBarImg {
        height: 2.5rem;
        width: 2.5rem;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .skillBarText > p {
        font-size: 0.8rem;
        text-align: center;
    }

    .skillBarText > h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}