.container {
  background: #242423;
  color: #cfdbd5;
  text-align: center;
  padding: 40px 20px;
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: italic;
  color: #e8eddf;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; /* Allows links to wrap to the next line on smaller screens */
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.link img {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.link img:hover {
  transform: scale(1.1);
}

a {
  color: #e8eddf;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #ffcc00;
}

/* Responsive Design */
@media (max-width: 768px) {
  .text h2 {
    font-size: 1.8rem;
  }

  .text p {
    font-size: 1rem;
  }

  .links {
    flex-direction: column; /* Stack links vertically on smaller screens */
    align-items: center;
    gap: 20px;
  }

  .link {
    font-size: 1rem;
  }

  .link img {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (max-width: 480px) {

  .text h2 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.9rem;
  }

  .links {
    gap: 15px;
  }

  .link img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .link {
    font-size: 0.9rem;
  }
}
